@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@100;200;300;400;500;600;700;800;900&display=swap');

// colors
$primary-color: #00b686;
$primary-gray: #657372;
$primary-light: #d3d7d7;
$primary-heading-color: #04433b;
$secondary-heading-color: #233735;
$sidebar-links-color: #7b8786;
$primary-background-color: #f2fbf9;
$primary-border-color: #e9ebeb;
$primary-border-color-2: #bdc3c2;

// size
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

// Component files
@import './Navbar.scss';
@import './Banner.scss';
@import './Project.scss';
@import './Cprofile.scss';

:root {
  --max-width: 1100px;
  font-family: 'Proxima Nova', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: $primary-background-color;
}

// mixins

@mixin respond-to($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
