@mixin respond-to($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

.navbar {
  background-color: $primary-background-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $primary-border-color;
  padding: 1rem;

  .color {
    color: $primary-gray;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .chevron {
    color: $primary-gray;
    font-size: 19px;
  }
  .options {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: $primary-gray;

    * {
      cursor: pointer;
    }

    @include respond-to($breakpoint-small) {
      display: none;
    }
  }

  .Menu {
    display: none;

    @include respond-to($breakpoint-small) {
      display: block;
    }

    .drawer {
      display: flex;
      flex-direction: column;
      background-color: $primary-background-color;
      position: absolute;
      width: 100%;
      padding: 2.5rem;
      top: 0;
      left: 0;
      z-index: 10;

      .close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        cursor: pointer;
      }
      .user {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 0;
        border-bottom: 1px solid $primary-border-color;

        .userinfo {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .name {
          color: #233735;
          font-weight: bold;
        }

        .profession {
          color: #7b8786;
          font-size: 12px;
        }
      }

      .option {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem 0;
        color: #657372;
        border-bottom: 1px solid $primary-border-color;

        span {
          font-size: 16px;
          cursor: pointer;
        }

        svg,
        img {
          cursor: pointer;
        }
      }
    }
  }
}
